BASE_URL_DEV=https://primary-production-4925b.up.railway.app/webhook
BASE_URL_PRD=https://primary-production-4925b.up.railway.app/webhook
CLIENT_ID=638958142560-kv06pt45h19kia2549l25ubkf2nbdaa6.apps.googleusercontent.com
SUPABASE_URL=https://tzoobaegujxeoozeasoh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6b29iYWVndWp4ZW9vemVhc29oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzNzYzNjQsImV4cCI6MjA2Mzk1MjM2NH0.FRqxjQIo3e1GwTFd-CqDqEMMxQbUzQa3kioTe5lkP-8
FIREBASE_API_KEY=AIzaSyB5qZfQD_hYFpwzSRSu0ExDUqVO1QkeWMI
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB5qZfQD_hYFpwzSRSu0ExDUqVO1QkeWMI
FIREBASE_AUTH_DOMAIN=netune-ai.firebaseapp.com
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=netune-ai.firebaseapp.com
FIREBASE_PROJECT_ID=netune-ai
NEXT_PUBLIC_FIREBASE_PROJECT_ID=netune-ai
